
<ul style="list-style-type: none;">
  <% @products.each do |item| %>
	  	<li class="li-product">
	  		<div class="left-img"><%= image_tag item.image.url(:thumb) %></div>
	  		<div class="right-text">
	  			<p><%= link_to item.title , "/products/#{item.id}",style: 'text-decoration: none;' %><br>
							Price:<%= item.price %><br>
							<strong><%= item.quantity %></strong> items left.
					</p>
	  		</div>	 
	  		<div class="button-left">
						<button><%= link_to "View Details", "/products/#{item.id}", style: 'color:#FFFFFF;text-decoration: none;'%></button>
				</div> 	
		</li>
  <% end %>
</ul>




