  <img src="<%= @product.image.url(:standard) %>"" alt="<%= @product.title %>" > 
  <h1><%= @product.title %></h1>
  <p class="price">Price: <%= @product.price %></p>
<p><button>Add to Cart</button></p>
<p><%= @product.description %></p>